workflows/cpq_maturity_scan.json
{
  "name": "CPQ_Maturity_scan",
  "nodes": [
    {
      "parameters": {},
      "id": "df427281-e4b7-4024-bad4-6b1219f577f0",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $json;\nconst input = payload.input ?? {};\nif (input.benefitSlug !== 'cpq-maturity-scan') {\n  return [{ json: {\n    followup_required: false,\n    followupQuestions: [],\n    result: {\n      score: 0,\n      summary: `benefitSlug must be cpq-maturity-scan`,\n      recommendation: 'Send request to the matching benefit workflow.'\n    }\n  } }];\n}\nconst answers = Array.isArray(input.answers) ? input.answers : [];\nconst answersMap = answers.reduce((acc, item) => {\n  if (item && item.questionId) acc[item.questionId] = item.value;\n  return acc;\n}, {});\nconst stage = input.stage ?? 'standard_started';\nconst followup_required = stage !== 'standard_completed';\nconst followupQuestions = followup_required\n  ? [{\n      id: 'q1',\n      prompt: `Please provide one more detail for ${input.benefitSlug}: current baseline metric and target outcome.`\n    }]\n  : [];\nreturn [{\n  json: {\n    session: payload.session ?? {},\n    input,\n    prompts: payload.prompts ?? {},\n    answersMap,\n    followup_required,\n    followupQuestions\n  }\n}];"
      },
      "id": "02ad95b8-a8c8-41f3-93e7-6f71675cb6f8",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.followup_required) {\n  return [{ json: { ...$json, score: 0, ragContext: { reason: 'Waiting for follow-up answers' } } }];\n}\nconst answersMap = $json.answersMap ?? {};\nconst configurationAutomation = Number(answersMap.configurationAutomation ?? 0);\nconst pricingGovernance = Number(answersMap.pricingGovernance ?? 0);\nconst approvalAutomation = Number(answersMap.approvalAutomation ?? 0);\nconst score = Math.max(0, Math.min(100, Math.round((configurationAutomation + pricingGovernance + approvalAutomation) / 3)));\nreturn [{ json: { ...$json, ragContext: { configurationAutomation, pricingGovernance, approvalAutomation }, score } }];\n"
      },
      "id": "96b7f10f-c9da-4acf-9bb3-54716f47c700",
      "name": "Mock LLM RAG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.followup_required) {\n  return [{\n    json: {\n      followup_required: true,\n      followupQuestions: $json.followupQuestions,\n      result: {\n        score: 0,\n        summary: 'Additional input is required before final scoring.',\n        recommendation: 'Answer the follow-up question(s) and submit again.'\n      }\n    }\n  }];\n}\nconst systemPrompt = $json.prompts?.system ?? '';\nconst userPrompt = $json.prompts?.user ?? '';\nconst ragHint = (systemPrompt || userPrompt)\n  ? ' Mock LLM RAG grounded this response on provided prompts.'\n  : '';\nreturn [{\n  json: {\n    followup_required: false,\n    followupQuestions: [],\n    result: {\n      score: $json.score,\n      summary: 'CPQ maturity is constrained by inconsistent governance and manual approvals.' + ragHint,\n      recommendation: 'Standardize pricing rules and trigger auto-approvals for low-risk deals.'\n    }\n  }\n}];"
      },
      "id": "8f241f3b-16b6-40d1-8f40-fef988769b3b",
      "name": "Format Engine Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        950,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Mock LLM RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock LLM RAG": {
      "main": [
        [
          {
            "node": "Format Engine Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "8fd07184-b587-406f-a309-699e1ddf6af1"
}
