workflows/pipeline_audit.json
{
  "name": "Pipeline_audit",
  "nodes": [
    {
      "parameters": {},
      "id": "97f77da0-c967-4bb1-a72a-d2ec36f44207",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $json;\nconst input = payload.input ?? {};\nif (input.benefitSlug !== 'pipeline-audit') {\n  return [{ json: {\n    followup_required: false,\n    followupQuestions: [],\n    result: {\n      score: 0,\n      summary: `benefitSlug must be pipeline-audit`,\n      recommendation: 'Send request to the matching benefit workflow.'\n    }\n  } }];\n}\nconst answers = Array.isArray(input.answers) ? input.answers : [];\nconst answersMap = answers.reduce((acc, item) => {\n  if (item && item.questionId) acc[item.questionId] = item.value;\n  return acc;\n}, {});\nconst stage = input.stage ?? 'standard_started';\nconst followup_required = stage !== 'standard_completed';\nconst followupQuestions = followup_required\n  ? [{\n      id: 'q1',\n      prompt: `Please provide one more detail for ${input.benefitSlug}: current baseline metric and target outcome.`\n    }]\n  : [];\nreturn [{\n  json: {\n    session: payload.session ?? {},\n    input,\n    prompts: payload.prompts ?? {},\n    answersMap,\n    followup_required,\n    followupQuestions\n  }\n}];"
      },
      "id": "a4b8c723-2d08-48f2-95e8-7ea0a4f7ecce",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.followup_required) {\n  return [{ json: { ...$json, score: 0, ragContext: { reason: 'Waiting for follow-up answers' } } }];\n}\nconst answersMap = $json.answersMap ?? {};\nconst leadLeakage = Number(answersMap.leadLeakage ?? answersMap.stageLeakage ?? 0);\nconst conversionGap = Number(answersMap.conversionGap ?? answersMap.winRateGap ?? 0);\nconst staleDeals = Number(answersMap.staleDeals ?? 0);\nconst score = Math.max(0, Math.min(100, Math.round(100 - (leadLeakage * 0.6 + conversionGap * 0.8 + staleDeals * 0.5))));\nreturn [{ json: { ...$json, ragContext: { leadLeakage, conversionGap, staleDeals }, score } }];\n"
      },
      "id": "af5e8089-830e-4745-a996-3a55eb6e5d3b",
      "name": "Mock LLM RAG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.followup_required) {\n  return [{\n    json: {\n      followup_required: true,\n      followupQuestions: $json.followupQuestions,\n      result: {\n        score: 0,\n        summary: 'Additional input is required before final scoring.',\n        recommendation: 'Answer the follow-up question(s) and submit again.'\n      }\n    }\n  }];\n}\nconst systemPrompt = $json.prompts?.system ?? '';\nconst userPrompt = $json.prompts?.user ?? '';\nconst ragHint = (systemPrompt || userPrompt)\n  ? ' Mock LLM RAG grounded this response on provided prompts.'\n  : '';\nreturn [{\n  json: {\n    followup_required: false,\n    followupQuestions: [],\n    result: {\n      score: $json.score,\n      summary: 'Pipeline bottlenecks are concentrated in mid-funnel qualification and proposal stages.' + ragHint,\n      recommendation: 'Enforce stage-exit criteria and automate stale-opportunity nudges.'\n    }\n  }\n}];"
      },
      "id": "7f4fa4ef-53dc-42ae-a33f-b59d9e1f5e53",
      "name": "Format Engine Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        950,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Mock LLM RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock LLM RAG": {
      "main": [
        [
          {
            "node": "Format Engine Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "496af928-998b-49ce-b8ac-f16daab3ab8f"
}
