Workflows/POC_ Tender Intelligence Engine Vpolished.json
{
  "name": "POC: Tender Intelligence Engine Vpolished",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Upload your data to test RAG",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload your file(s)",
              "fieldType": "file",
              "acceptFileTypes": ".pdf, .csv",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -720,
        -32
      ],
      "id": "74e0678f-1527-4bb2-81d9-c74c42412fbf",
      "name": "Upload your file here",
      "webhookId": "8bf46b52-be5e-4f70-b240-81b81f7a433d"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        128,
        864
      ],
      "id": "28ea6485-dda4-47b5-b4d5-9ecb7f337605",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "kxAiCyvyyDkLxs4E",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Readme\nLoad your data into a vector database with the 📚 **Load Data** flow, and then use your data as chat context with the 🐕 **Retriever** flow.\n\n**Quick start**\n1. Click on the `Execute Workflow` button to run the 📚 **Load Data** flow.\n2. Click on `Open Chat` button to run the 🐕 **Retriever** flow. Then ask a question about content from your document(s)\n\n\nFor more info, check [our docs on RAG in n8n](https://docs.n8n.io/advanced-ai/rag-in-n8n/).",
        "height": 332,
        "width": 440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1712,
        -64
      ],
      "typeVersion": 1,
      "id": "b8d39eaf-a2b2-488e-b90e-def5a822aeeb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        112,
        672
      ],
      "id": "c762c583-3071-4577-a490-6cf988ddc70c",
      "name": "Insert Data to Store"
    },
    {
      "parameters": {
        "content": "### Embeddings\n\nThe Insert and Retrieve operation use the same embedding node.\n\nThis is to ensure that they are using the **exact same embeddings and settings**.\n\nDifferent embeddings might not work at all, or have unintended consequences.\n",
        "height": 240,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        624,
        800
      ],
      "typeVersion": 1,
      "id": "bc2b0559-d3e6-49b5-8d20-9abf764289c4",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "={{ Object.keys($binary)[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -192,
        -592
      ],
      "id": "3e20a3c4-572f-45be-b530-d36afd472b1c",
      "name": "Extract Parameters From XLSX"
    },
    {
      "parameters": {
        "formTitle": "Upload your data to test RAG",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload your file(s)",
              "fieldType": "file",
              "acceptFileTypes": ".pdf, .csv, .xlsx",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -448,
        -592
      ],
      "id": "09b4bf0f-d0d9-45d0-a770-2a922da46cfc",
      "name": "data",
      "webhookId": "33b05d14-a26f-415d-98f5-bb2b956c820c"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nlet currentSLNo = null;\nlet currentClause = null;\nlet currentSection = null;\n\nfor (const item of items) {\n  const row = item.json;\n\n  const descRaw = row.Description || \"\";\n  const desc = descRaw.replace(/\\s+/g, \" \").trim();\n\n  const slNo = row[\"SL.No\"] ?? null;\n  const clause = row[\"Clause No\"] ?? null;\n\n  if (!desc) continue;\n\n  // Update SL.No\n  if (slNo !== null && slNo !== undefined) {\n    currentSLNo = slNo;\n  }\n\n  // Clause change ⇒ reset section\n  if (clause && clause !== currentClause) {\n    currentClause = clause;\n    currentSection = null;\n  }\n\n  // Detect section headers\n  const isSectionHeader =\n    desc.endsWith(\":-\") ||\n    desc.endsWith(\":\") ||\n    desc.toLowerCase().includes(\"conditions\") ||\n    desc.toLowerCase().includes(\"insulation levels\") ||\n    desc.toLowerCase().includes(\"tap changing\") ||\n    desc.toLowerCase().includes(\"cooling equipments\") ||\n    desc === desc.toUpperCase();\n\n  if (isSectionHeader) {\n    currentSection = desc;\n    continue;\n  }\n\n  results.push({\n    sl_no: currentSLNo,\n    clause_no: currentClause || \"\",\n    section: currentSection || \"\",\n    parameter_name: desc\n  });\n}\n\nreturn results.map(r => ({ json: r }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -592
      ],
      "id": "bb1eda22-d852-49d1-871e-5395ceb98afe",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        112,
        -848
      ],
      "id": "0a1e32d8-6beb-4ad6-8594-7378bfc08b29",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "chunkSize": 900,
        "chunkOverlap": 150,
        "options": {}
      },
      "id": "3fc05e3e-0ff2-4b1c-afbd-4f36edcdb37a",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        384,
        1024
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "loader": "pdfLoader",
        "binaryDataKey": "={{ Object.keys($binary)[0] }}",
        "options": {}
      },
      "id": "53167fd2-6674-483d-963a-3e90bceb91d4",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        288,
        896
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        1664,
        -416
      ],
      "id": "881b00c2-6a93-48fc-9ea0-ff2118ad7624",
      "name": "Vector Store Retrieval"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        1472,
        -544
      ],
      "id": "2761a96e-d743-4830-a181-85af5bc6dfaf",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.question}}",
        "options": {}
      },
      "id": "61e7aa03-3eac-49b3-a720-87c900622ae7",
      "name": "Retrieval Tender Params",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "position": [
        1312,
        -768
      ],
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1280,
        -560
      ],
      "id": "bc1a3360-4164-449c-b9ed-85cde96949e8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kxAiCyvyyDkLxs4E",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1888,
        -288
      ],
      "id": "c4803843-31a5-48ae-a121-a0e0e62e3ba0",
      "name": "Embeddings OpenAI1 Retrieveal",
      "credentials": {
        "openAiApi": {
          "id": "kxAiCyvyyDkLxs4E",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// // Current parameter row from Excel\n// const slNo = $json[\"sl_no\"] ?? null;\n// const clause = $json[\"clause_no\"] ?? \"\";\n// const section = $json[\"section\"] ?? \"\";\n// const parameter_name = ($json[\"parameter_name\"] || \"\").trim();\n\n// // Build a precise, unambiguous question\n// let questionParts = [];\n\n// questionParts.push(`Technical parameter to extract: \"${parameter_name}\"`);\n\n// if (section) {\n//   questionParts.push(`Section: ${section}`);\n// }\n\n// if (clause) {\n//   questionParts.push(`Clause reference: ${clause}`);\n// }\n\n// questionParts.push(\n//   `Extract the exact value as stated in the tender document and identify the page number.`\n// );\n\n// questionParts.push(\n//   `If the value is not explicitly mentioned, respond with null.`\n// );\n\n// // Final question text\n// const question = questionParts.join(\"\\n\");\n\n// // Output for Q&A Chain\n// return [\n//   {\n//     json: {\n//       sl_no: slNo,\n//       parameter: parameter_name,\n//       clause,\n//       section,\n//       question\n//     }\n//   }\n// ];\n\n// Extract current row\nconst slNo = $json[\"sl_no\"] ?? null;\nconst clause = $json[\"clause_no\"] ?? \"\";\nconst section = $json[\"section\"] ?? \"\";\nconst parameter_name = ($json[\"parameter_name\"] || \"\").trim();\n\n// Build a STRICT, JSON-enforced question\nconst question = `\nYou are extracting information from a tender document.\n\nTASK:\nExtract the value for the technical parameter below.\n\nPARAMETER:\n\"${parameter_name}\"\n\n${section ? `SECTION: ${section}` : \"\"}\n${clause ? `CLAUSE REFERENCE: ${clause}` : \"\"}\n\nRULES (MANDATORY):\n- Use ONLY the provided context\n- Do NOT add explanations or commentary\n- Do NOT include extra fields\n- If the value is descriptive (e.g. Scope), return the relevant text\n- If the value is not found, return null\n- Identify the page number where the value appears\n\nOUTPUT FORMAT (STRICT JSON ONLY):\n{\n  \"sl_no\": ${slNo},\n  \"parameter\": \"${parameter_name}\",\n  \"value\": \"... or null\",\n  \"page\": \"... or null\"\n}\n\nIMPORTANT:\n- Return ONLY valid JSON\n- Do NOT wrap the response in markdown\n- Do NOT add any text before or after the JSON\n`.trim();\n\n// Output\nreturn [\n  {\n    json: {\n      sl_no: slNo,\n      parameter_name,\n      clause,\n      section,\n      question\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -752
      ],
      "id": "76c26068-f97e-4b90-a5d9-e09a0a05eaeb",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1968,
        -576
      ],
      "id": "3766de93-d156-4e61-a89f-398c4e11b585",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2320,
        -512
      ],
      "id": "7ed18cf2-f50f-4dc8-8bd0-ccc1ae7ea797",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "jsCode": "// The Q&A Chain returns JSON as a STRING inside `response`\nlet parsed;\n\ntry {\n  parsed = JSON.parse($json.response);\n} catch (e) {\n  // Safety fallback if parsing fails\n  parsed = {\n    sl_no: $json.sl_no ?? null,\n    parameter: $json.parameter ?? null,\n    value: null,\n    page: null\n  };\n}\n\nreturn [\n  {\n    json: {\n      sl_no: parsed.sl_no,\n      parameter: parsed.parameter,\n      value: parsed.value,\n      page: parsed.page\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        -768
      ],
      "id": "b0739f8e-5774-41a3-b73e-ac36fc8f0bb6",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "command": "pdftotext -layout /data/input1.pdf -"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -272,
        -32
      ],
      "id": "ac70c07e-e237-4728-aaa1-d31f20df47c8",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/data/input1.pdf",
        "dataPropertyName": "={{ Object.keys($binary)[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -464,
        -48
      ],
      "id": "4d6c4784-ff73-459c-a7c2-8d9e5a593303",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "jsCode": "const text = $json.raw_text;\n\nconst normalized = text\n  .replace(/\\r/g, \"\")\n  .replace(/[ \\t]+/g, \" \")\n  .replace(/\\n{3,}/g, \"\\n\\n\")\n  .trim();\n\nreturn [{\n  json: {\n    normalized_text: normalized\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        128
      ],
      "id": "4b8be562-2466-4d54-8c55-e0a759873076",
      "name": "Normalize Text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9c9db4a0-b4fb-4747-b4b6-6528aa306927",
              "name": "raw_text",
              "value": "={{ $json.stdout }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        -96
      ],
      "id": "ab34cd9f-0a13-4adc-80c8-b745bf9871a3",
      "name": "Move stdout into a proper JSON field"
    },
    {
      "parameters": {
        "jsCode": "const pages = $json.normalized_text.split(\"\\f\");\n\nreturn pages\n  .map((content, index) => ({\n    json: {\n      page_no: index + 1,\n      text: content.trim()\n    }\n  }))\n  .filter(p => p.json.text.length > 0);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -96
      ],
      "id": "e701e57f-9a21-4cd5-b937-df96ae5f7602",
      "name": "Split into logical pages"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const text = item.json.text.toLowerCase();\n\n  return {\n    json: {\n      ...item.json,\n      word_count: text.split(/\\s+/).length,\n      has_table_like_content: /\\|/.test(text) || text.includes(\"schedule\"),\n      has_section_keyword: /section|part|volume|annexure/.test(text)\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -96
      ],
      "id": "da3f8b65-e6fb-436e-92d7-c24e367449c9",
      "name": "Lightweight Page Meta"
    },
    {
      "parameters": {
        "jsCode": "\n  // const text = item.json.text.toLowerCase();\n\n  // return {\n  //   json: {\n  //     ...item.json,\n  //     word_count: text.split(/\\s+/).length,\n  //     has_table_like_content: /\\|/.test(text) || text.includes(\"schedule\"),\n  //     has_section_keyword: /section|part|volume|annexure/.test(text)\n  //   }\n  // };\n\nreturn items.map(item => {\n  const t = (item.json.text || \"\").toLowerCase();\n  let section = \"UNKNOWN\";\n\n  if (t.includes(\"invitation for bids\")) section = \"IFB\";\n  else if (t.includes(\"instructions to bidders\")) section = \"ITB\";\n  else if (t.includes(\"bid data sheet\")) section = \"BDS\";\n  else if (t.includes(\"evaluation and qualification\")) section = \"EVALUATION\";\n  else if (t.includes(\"technical specification\")) section = \"TECH_SPEC\";\n  else if (t.includes(\"schedule of requirements\")) section = \"SOR\";\n  else if (t.includes(\"general conditions\")) section = \"GCC\";\n  else if (t.includes(\"particular conditions\")) section = \"PCC\";\n  else if (t.includes(\"annexure\")) section = \"ANNEXURE\";\n  else if (t.includes(\"price\") && t.includes(\"bid\")) section = \"PRICE\";\n\n  return {\n    json: {\n      ...item.json,\n      snippet: item.json.text.slice(0, 700),\n      heuristic_section: section\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -112
      ],
      "id": "8df3c40e-99f7-48af-9ee3-9b26ee044bd5",
      "name": "Page Heuristics"
    },
    {
      "parameters": {
        "jsCode": "// Step 1: sort by page number\nconst pages = items\n  .map(i => i.json)\n  .sort((a, b) => a.page_no - b.page_no);\n\nconst sections = [];\nlet current = null;\n\nfor (const p of pages) {\n  const section = p.heuristic_section || \"UNKNOWN\";\n\n  if (!current) {\n    current = {\n      section,\n      start_page: p.page_no,\n      end_page: p.page_no,\n      pages: [p.page_no],\n      snippets:[{\"page_no\": p.page_no, \"snippet\": p.snippet}],\n      page_count: 1,\n      unknown_pages: section === \"UNKNOWN\" ? 1 : 0\n    };\n    continue;\n  }\n\n  const isConsecutive = p.page_no === current.end_page + 1;\n  const sameSection = section === current.section;\n\n  if (isConsecutive && (sameSection || section === \"UNKNOWN\")) {\n    // merge UNKNOWN into current\n    current.end_page = p.page_no;\n    current.pages.push(p.page_no);\n    current.snippets.push({\"page_no\": p.page_no, \"snippet\": p.snippet})\n    current.page_count++;\n    if (section === \"UNKNOWN\") current.unknown_pages++;\n  } else {\n    sections.push(current);\n    current = {\n      section,\n      start_page: p.page_no,\n      end_page: p.page_no,\n      pages: [p.page_no],\n      snippets: [{\"page_no\": p.page_no, \"snippet\": p.snippet}],\n      page_count: 1,\n      unknown_pages: section === \"UNKNOWN\" ? 1 : 0\n    };\n  }\n}\n\nif (current) sections.push(current);\n\n// Step 2: confidence score\nsections.forEach(s => {\n  s.confidence = Math.round(\n    ((s.page_count - s.unknown_pages) / s.page_count) * 100\n  ) / 100;\n});\n\nreturn sections.map(s => ({ json: s }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -112
      ],
      "id": "1d4ea30d-6bab-40ae-bb12-2cd68cdc46a0",
      "name": "Section Grouper"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const snippets = $json.snippets || [];\n\nconst start = snippets[0]?.snippet || \"\";\nconst middle = snippets[Math.floor(snippets.length / 2)]?.snippet || \"\";\nconst end = snippets[snippets.length - 1]?.snippet || \"\";\n\nreturn {\n  json: {\n    heuristic_section: $json.section,\n    page_range: `${$json.start_page}-${$json.end_page}`,\n    snippets: {\n      start,\n      middle,\n      end\n    },\n    page_count: $json.page_count,\n    unknown_pages: $json.unknown_pages,\n    confidence: $json.confidence\n\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        176
      ],
      "id": "22ec670b-6a50-4bb0-8c46-fe9ae3e6b137",
      "name": "Prepare Minimal LLM Content"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "phi4-mini:latest",
          "mode": "list",
          "cachedResultName": "phi4-mini:latest"
        },
        "messages": {
          "values": [
            {
              "content": "You are an expert in power transformer tender documents.\nYou validate section classification.\nYou must be conservative: only change the section if you are very sure.\nRespond ONLY with JSON. No markdown. No explanation outside JSON.",
              "role": "assistant"
            },
            {
              "content": "=Heuristic section: {{ $json.heuristic_section }}\nPage range: {{ $json.page_range }}\n\nSnippets:\nSTART:\n{{$json.snippets.start}}\n\nMIDDLE:\n{{$json.snippets.middle}}\n\nEND:\n{{$json.snippets.end}}\n\nAllowed final_section values (ONLY ONE, EXACT STRING):\nIFB, ITB, BDS, EVALUATION, TECH_SPEC, SOR, GCC, PCC, PRICE, ANNEXURE, OTHER\n\nRules:\n- final_section MUST be a string from the allowed list\n- DO NOT return objects, arrays, or explanations in final_section\n- If the content is a table of contents, index, overview, or list of sections → use OTHER\n- If unsure → use OTHER\n- Output STRICT JSON only\n\nOutput schema:\n{\n  \"final_section\": \"<ONE_ALLOWED_VALUE>\",\n  \"is_correct\": true | false,\n  \"confidence\": number between 0.5 and 0.95,\n  \"reason\": \"short reason\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        1200,
        128
      ],
      "id": "0a59a4d1-7b45-44f3-86aa-bc3e41f0744c",
      "name": "Message a model",
      "credentials": {
        "ollamaApi": {
          "id": "KWoGHbmJYIJz1Ig8",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        544,
        144
      ],
      "id": "d85ce0f3-670f-4011-899e-ee0f7cce4ea9",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "4b5326a1-8e70-4a97-ad55-445aa7fa4e47",
              "leftValue": "={{ $json._base.confidence }}",
              "rightValue": 0.6,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "afdca505-99d2-4953-958c-7f2cdc80e573",
              "leftValue": "={{ $json._base.heuristic_section }}",
              "rightValue": "PRICE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "e0ceec90-b472-4fc6-8c79-5521de53dd9a",
              "leftValue": "={{ $json._base.unknown_pages }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        240
      ],
      "id": "62156e50-a7f7-4ff4-8563-e3553a99918b",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1920,
        320
      ],
      "id": "1236a419-4612-4cb0-9d2b-2df7e0dc69b4",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    // original heuristic fields\n    heuristic_section: $json.heuristic_section,\n    heuristic_confidence: $json.confidence,\n    page_range: $json.page_range,\n    snippets: $json.snippets,\n\n    // keep everything else if needed\n    _base: $json\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        144
      ],
      "id": "e19a32bd-8d90-4ac3-abc5-86e1cdff089e",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "jsCode": "const base = $(\"If\").first().json\nreturn {\n  json: {\n    heuristic_section: base.heuristic_section,\n    confidence: base.heuristic_confidence,\n    page_range: base.page_range,\n    snippets: base.snippets,\n\n    final_section: $json.final_section,\n    is_correct: $json.is_correct,\n    reason: $json.reason,\n    confidence_1: $json.confidence\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        176
      ],
      "id": "606a3c1e-03f1-486d-95fe-fd3040b0c903",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.content || \"\";\n\n// Extract JSON inside ``` if present\nconst match = raw.match(/\\{[\\s\\S]*\\}/);\n\nif (!match) {\n  throw new Error(\"No JSON object found in LLM response\");\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(match[0]);\n} catch (e) {\n  throw new Error(\"Invalid JSON from LLM\");\n}\n\nreturn {\n  json: parsed\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        144
      ],
      "id": "13bcf3f8-091b-422e-9fe7-8a23d46918f1",
      "name": "Streamline LLM Output"
    },
    {
      "parameters": {
        "jsCode": "const heuristicConfidence = $json.confidence ?? 0;\nconst llmConfidence = $json.confidence_1 ?? 0;\n\nlet finalConfidence;\nlet source;\n\nif ($json.is_correct === true) {\n  finalConfidence = llmConfidence;\n  source = \"LLM_CONFIRMED\";\n} else {\n  finalConfidence = Math.max(heuristicConfidence, llmConfidence * 0.7);\n  source = \"LLM_OVERRULED\";\n}\n\nreturn {\n  json: {\n    ...$json,\n    final_confidence: Number(finalConfidence.toFixed(2)),\n    final_section: $json.final_section ? $json.final_section : $json.heuristic_section,\n    classification_source: source\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2192,
        304
      ],
      "id": "26ec2dc4-a073-4386-a414-ea3b2d6b76cf",
      "name": "Normalize Section Confidence"
    },
    {
      "parameters": {
        "jsCode": "// const base = $(\"Normalize Section Confidence\").all()\n// return base\n\nconst sectionOrder = [\n  \"IFB\",\n  \"ITB\",\n  \"BDS\",\n  \"EVALUATION\",\n  \"TECH_SPEC\",\n  \"SOR\",\n  \"PRICE\",\n  \"GCC\",\n  \"PCC\",\n  \"ANNEXURE\"\n];\n\nconst items = $items();\nconst issues = [];\n\nlet lastIndex = -1;\n\nitems.forEach((item, idx) => {\n  const sec = item.json.final_section;\n  const index = sectionOrder.indexOf(sec);\n\n  if (index !== -1 && index < lastIndex) {\n    issues.push({\n      page_range: item.json.page_range,\n      section: sec,\n      issue: \"SECTION_ORDER_VIOLATION\"\n    });\n  }\n\n  lastIndex = Math.max(lastIndex, index);\n});\n\nreturn {\n    json: {\n      validated_sections: items.map(i => i.json),\n      validation_issues: issues\n    }\n  }\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        -80
      ],
      "id": "23943854-8cf9-469c-bed3-feaa77bfaf48",
      "name": "Section Integrity Validation"
    },
    {
      "parameters": {
        "jsCode": "const sections = $json.validated_sections;\n\nconst merged = [];\nlet current = null;\n\nfor (const s of sections) {\n  if (\n    current &&\n    current.final_section === s.final_section &&\n    Number(current.page_range.split(\"-\")[1]) + 1 === Number(s.page_range.split(\"-\")[0])\n  ) {\n    // merge\n    current.page_range =\n      current.page_range.split(\"-\")[0] + \"-\" + s.page_range.split(\"-\")[1];\n    current.snippets.end = s.snippets.end;\n    current.final_confidence = Math.min(\n      current.final_confidence,\n      s.final_confidence\n    );\n  } else {\n    if (current) merged.push(current);\n    current = { ...s };\n  }\n}\n\nif (current) merged.push(current);\n\nreturn merged.map(m => ({ json: m }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        -80
      ],
      "id": "84669a03-f03a-4846-9e34-0e050baca2df",
      "name": "Merge Contiguous Sections"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let score = 100;\n\nif ($json.final_confidence < 0.6) score -= 25;\nif ($json.snippets.middle?.length < 200) score -= 15;\nif ($json.heuristic_section === \"UNKNOWN\") score -= 20;\n\nreturn {\n  json: {\n    ...$json,\n    section_quality_score: Math.max(score, 0)\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        -80
      ],
      "id": "68ac9260-1bf7-4bf4-b443-97cf261020bf",
      "name": "Tender Quality Score"
    },
    {
      "parameters": {
        "jsCode": "const sections = $items().map(i => i.json);\n\nreturn [\n  {\n    json: {\n      tender_id: \"TR-36/2024\",\n      sections_index: sections.map(s => ({\n        section: s.final_section,\n        pages: s.page_range,\n        confidence: s.final_confidence,\n        quality_score: s.section_quality_score\n      })),\n      extracted_at: new Date().toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2928,
        -80
      ],
      "id": "ec74d852-11a0-4358-b226-0231537e40ac",
      "name": "Tender Master Index"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "={{ $('Tender Master Index').item.json.tender_id }}",
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3456,
        -80
      ],
      "id": "7c2077aa-cab0-4185-8d45-cef64a1a5bc3",
      "name": "Download Tender Index"
    },
    {
      "parameters": {
        "jsCode": "// Input: Your original tender data (items[0].json)\nconst tenderData = $input.first().json;  // {tender_id: \"...\", sections_index: [...]}\n\nconst rows = tenderData.sections_index.map(section => ({\n  section: section.section,\n  pages: section.pages,\n  confidence: section.confidence,\n  quality_score: section.quality_score\n  // Optional: tender_id: tenderData.tender_id\n}));\n\nreturn rows.map(row => ({ json: row }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3136,
        -80
      ],
      "id": "df83e084-8d4a-407e-b015-39b3b9922aee",
      "name": "Code in JavaScript3"
    }
  ],
  "pinData": {},
  "connections": {
    "Upload your file here": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract Parameters From XLSX": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data": {
      "main": [
        [
          {
            "node": "Extract Parameters From XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retrieval": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Retrieval Tender Params",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Retrieval Tender Params",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1 Retrieveal": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store Retrieval",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Retrieval Tender Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieval Tender Params": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        []
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Move stdout into a proper JSON field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Text": {
      "main": [
        [
          {
            "node": "Split into logical pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move stdout into a proper JSON field": {
      "main": [
        [
          {
            "node": "Normalize Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split into logical pages": {
      "main": [
        [
          {
            "node": "Lightweight Page Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lightweight Page Meta": {
      "main": [
        [
          {
            "node": "Page Heuristics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Page Heuristics": {
      "main": [
        [
          {
            "node": "Section Grouper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Section Grouper": {
      "main": [
        [
          {
            "node": "Prepare Minimal LLM Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Minimal LLM Content": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Section Integrity Validation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Streamline LLM Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Normalize Section Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Streamline LLM Output": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Section Confidence": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Section Integrity Validation": {
      "main": [
        [
          {
            "node": "Merge Contiguous Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Contiguous Sections": {
      "main": [
        [
          {
            "node": "Tender Quality Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tender Quality Score": {
      "main": [
        [
          {
            "node": "Tender Master Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tender Master Index": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Download Tender Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "794b0f4e-57dd-44cc-b733-623646be35ef",
  "meta": {
    "templateId": "rag-starter-template",
    "templateCredsSetupCompleted": true,
    "instanceId": "748ac3a86cf283d5b26e85fb808109143aa22c79866df7e3c4b0402a1ece0264"
  },
  "id": "jNQQC4txpZO7vfS4",
  "tags": [
    {
      "updatedAt": "2025-10-31T06:53:49.024Z",
      "createdAt": "2025-10-31T06:53:49.024Z",
      "id": "xKOB1aeOyFEZiz8r",
      "name": "Utility"
    }
  ]
}