workflows/roi_calculator.json
{
  "name": "ROI_Calculator",
  "nodes": [
    {
      "parameters": {},
      "id": "f7ee9544-c4ca-43f1-98f0-f5957f6b84c4",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $json;\nconst input = payload.input ?? {};\nif (input.benefitSlug !== 'roi-calculator') {\n  return [{ json: {\n    followup_required: false,\n    followupQuestions: [],\n    result: {\n      score: 0,\n      summary: `benefitSlug must be roi-calculator`,\n      recommendation: 'Send request to the matching benefit workflow.'\n    }\n  } }];\n}\nconst answers = Array.isArray(input.answers) ? input.answers : [];\nconst answersMap = answers.reduce((acc, item) => {\n  if (item && item.questionId) acc[item.questionId] = item.value;\n  return acc;\n}, {});\nconst stage = input.stage ?? 'standard_started';\nconst followup_required = stage !== 'standard_completed';\nconst followupQuestions = followup_required\n  ? [{\n      id: 'q1',\n      prompt: `Please provide one more detail for ${input.benefitSlug}: current baseline metric and target outcome.`\n    }]\n  : [];\nreturn [{\n  json: {\n    session: payload.session ?? {},\n    input,\n    prompts: payload.prompts ?? {},\n    answersMap,\n    followup_required,\n    followupQuestions\n  }\n}];"
      },
      "id": "3f3ca4af-45b4-48d8-819f-3530c700f82d",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.followup_required) {\n  return [{ json: { ...$json, score: 0, ragContext: { reason: 'Waiting for follow-up answers' } } }];\n}\nconst answersMap = $json.answersMap ?? {};\nconst annualRevenue = Number(answersMap.annualRevenue ?? 0);\nconst quoteTurnaroundDays = Number(answersMap.quoteTurnaroundDays ?? 0);\nconst winRate = Number(answersMap.winRate ?? 0);\nconst score = Math.max(0, Math.min(100, Math.round((annualRevenue / 2000) + (100 - quoteTurnaroundDays * 3) + (winRate * 1.5))));\nreturn [{ json: { ...$json, ragContext: { annualRevenue, quoteTurnaroundDays, winRate }, score } }];\n"
      },
      "id": "6cf49ad4-4c09-476f-bf45-ab8ef679f8aa",
      "name": "Mock LLM RAG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.followup_required) {\n  return [{\n    json: {\n      followup_required: true,\n      followupQuestions: $json.followupQuestions,\n      result: {\n        score: 0,\n        summary: 'Additional input is required before final scoring.',\n        recommendation: 'Answer the follow-up question(s) and submit again.'\n      }\n    }\n  }];\n}\nconst systemPrompt = $json.prompts?.system ?? '';\nconst userPrompt = $json.prompts?.user ?? '';\nconst ragHint = (systemPrompt || userPrompt)\n  ? ' Mock LLM RAG grounded this response on provided prompts.'\n  : '';\nreturn [{\n  json: {\n    followup_required: false,\n    followupQuestions: [],\n    result: {\n      score: $json.score,\n      summary: 'You can reduce quote cycle by 15% by automating quote orchestration.' + ragHint,\n      recommendation: 'Automate pricing approvals and create reusable quote templates.'\n    }\n  }\n}];"
      },
      "id": "f3c99717-ff9f-4f4c-b352-f4481e29d62a",
      "name": "Format Engine Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Mock LLM RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock LLM RAG": {
      "main": [
        [
          {
            "node": "Format Engine Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "bb251e4b-0c31-408d-a941-c70fd001ba56"
}
