workflows/roi_calculator.json
{
  "name": "ROI_Calculator",
  "nodes": [
    {
      "parameters": {},
      "id": "f7ee9544-c4ca-43f1-98f0-f5957f6b84c4",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json;\nconst required = ['benefit_type', 'user_context', 'answers'];\nfor (const key of required) {\n  if (body[key] === undefined || body[key] === null) {\n    return [{ json: { success: false, error_code: 'INVALID_INPUT', message: `Missing ${key}` } }];\n  }\n}\nif (body.benefit_type !== 'ROI_Calculator') {\n  return [{ json: { success: false, error_code: 'INVALID_INPUT', message: 'benefit_type must be ROI_Calculator' } }];\n}\nconst revenue = Number(body.user_context.annual_revenue);\nconst pipelineValue = Number(body.answers.pipeline_value ?? body.answers.question_1 ?? 0);\nconst effortHours = Number(body.answers.manual_effort_hours ?? body.answers.question_2 ?? 0);\nif (!Number.isFinite(revenue)) {\n  return [{ json: { success: false, error_code: 'INVALID_INPUT', message: 'Missing annual_revenue' } }];\n}\nif (!Number.isFinite(pipelineValue) || !Number.isFinite(effortHours)) {\n  return [{ json: { success: false, error_code: 'INVALID_INPUT', message: 'pipeline_value and manual_effort_hours must be numeric' } }];\n}\nreturn [{ json: { ...body, calc_inputs: { revenue, pipelineValue, effortHours } } }];"
      },
      "id": "3f3ca4af-45b4-48d8-819f-3530c700f82d",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.success === false) {\n  return [{ json: $json }];\n}\nconst { revenue, pipelineValue, effortHours } = $json.calc_inputs;\nconst rawScore = (revenue * 0.02) + (pipelineValue * 0.01) - (effortHours * 10);\nconst normalizedScore = Math.max(0, Math.min(100, Math.round(rawScore / 1000)));\nreturn [{\n  json: {\n    ...$json,\n    score: normalizedScore,\n    summary_seed: normalizedScore >= 75\n      ? 'high'\n      : normalizedScore >= 45\n        ? 'moderate'\n        : 'low'\n  }\n}];"
      },
      "id": "6cf49ad4-4c09-476f-bf45-ab8ef679f8aa",
      "name": "Compute Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.success === false) {\n  return [{ json: $json }];\n}\nconst summaryByBand = {\n  high: 'Your ROI potential is high. Prioritize automation for immediate measurable gains.',\n  moderate: 'Your ROI potential is moderate. Address current bottlenecks to increase impact.',\n  low: 'Current ROI potential is low. Start with quick wins and baseline performance tracking.'\n};\nconst recommendations = [\n  'Automate repetitive presales and quoting tasks.',\n  'Track proposal turnaround and engineer effort weekly.',\n  'Reinvest savings into high-conversion pipeline stages.'\n];\nreturn [{\n  json: {\n    success: true,\n    benefit_type: 'ROI_Calculator',\n    score: $json.score,\n    summary: summaryByBand[$json.summary_seed],\n    recommendations,\n    meta: {\n      execution_id: $execution.id,\n      version: '1.0.0',\n      benefit_version: '2026-Q1',\n      inputs: $json.calc_inputs\n    }\n  }\n}];"
      },
      "id": "f3c99717-ff9f-4f4c-b352-f4481e29d62a",
      "name": "Generate Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Compute Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Score": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "bb251e4b-0c31-408d-a941-c70fd001ba56"
}
