workflows/tender_complexity_score.json
{
  "name": "Tender_complexity_score",
  "nodes": [
    {
      "parameters": {},
      "id": "2f15f29e-13f9-4323-98d5-f1494f72f218",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $json;\nconst input = payload.input ?? {};\nif (input.benefitSlug !== 'tender-complexity-score') {\n  return [{ json: {\n    followup_required: false,\n    followupQuestions: [],\n    result: {\n      score: 0,\n      summary: `benefitSlug must be tender-complexity-score`,\n      recommendation: 'Send request to the matching benefit workflow.'\n    }\n  } }];\n}\nconst answers = Array.isArray(input.answers) ? input.answers : [];\nconst answersMap = answers.reduce((acc, item) => {\n  if (item && item.questionId) acc[item.questionId] = item.value;\n  return acc;\n}, {});\nconst stage = input.stage ?? 'standard_started';\nconst followup_required = stage !== 'standard_completed';\nconst followupQuestions = followup_required\n  ? [{\n      id: 'q1',\n      prompt: `Please provide one more detail for ${input.benefitSlug}: current baseline metric and target outcome.`\n    }]\n  : [];\nreturn [{\n  json: {\n    session: payload.session ?? {},\n    input,\n    prompts: payload.prompts ?? {},\n    answersMap,\n    followup_required,\n    followupQuestions\n  }\n}];"
      },
      "id": "f100b43e-a876-42dd-b42d-526af41f8827",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.followup_required) {\n  return [{ json: { ...$json, score: 0, ragContext: { reason: 'Waiting for follow-up answers' } } }];\n}\nconst answersMap = $json.answersMap ?? {};\nconst customizationRatio = Number(answersMap.customizationRatio ?? 0);\nconst variants = Number(answersMap.variants ?? answersMap.numberOfVariants ?? 0);\nconst reviewCycles = Number(answersMap.reviewCycles ?? 0);\nconst score = Math.max(0, Math.min(100, Math.round((customizationRatio * 0.4) + (variants * 1.5) + (reviewCycles * 9))));\nreturn [{ json: { ...$json, ragContext: { customizationRatio, variants, reviewCycles }, score } }];\n"
      },
      "id": "be097581-8ff6-44a0-88cc-df2a72ee58fd",
      "name": "Mock LLM RAG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.followup_required) {\n  return [{\n    json: {\n      followup_required: true,\n      followupQuestions: $json.followupQuestions,\n      result: {\n        score: 0,\n        summary: 'Additional input is required before final scoring.',\n        recommendation: 'Answer the follow-up question(s) and submit again.'\n      }\n    }\n  }];\n}\nconst systemPrompt = $json.prompts?.system ?? '';\nconst userPrompt = $json.prompts?.user ?? '';\nconst ragHint = (systemPrompt || userPrompt)\n  ? ' Mock LLM RAG grounded this response on provided prompts.'\n  : '';\nreturn [{\n  json: {\n    followup_required: false,\n    followupQuestions: [],\n    result: {\n      score: $json.score,\n      summary: 'Tender complexity is driven by high customization and repeated technical review cycles.' + ragHint,\n      recommendation: 'Pre-build reusable bid modules and apply go/no-go thresholds earlier.'\n    }\n  }\n}];"
      },
      "id": "a26fbcb8-3ff5-41d7-bff8-4f4a8f2ac31f",
      "name": "Format Engine Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        950,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Mock LLM RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock LLM RAG": {
      "main": [
        [
          {
            "node": "Format Engine Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "2b4a202e-8a4e-43d7-95ca-3d2d338ee2d3"
}
